body {

  width: 100vw;
  height: 100vh;

  > header {
    width: 100vw;
    height: 52px;
  }

  > section {

    width: 100vw;
    height: calc(100vh - 52px - 67.5px);

    > aside {
      background-color: red;
    }

    .game {
      
    }

    .log {
      
    }

  }

  > footer {
    width: 100vw;
    height: 67.5px;
  }

}