nav.navbar
  .navbar-brand
    a.navbar-item(href="index.html") Play Chess
  .navbar-menu
    .navbar-end
      span.navbar-item Guest
      a.navbar-item(href="https://github.com/spokesoft/chess")
        span.icon-text
          span.icon.mr-1
            i(data-feather="github")
          span GitHub