extends layout

block content

  .columns
    .column.is-one-fifth.sidebar
      h1 sidebar
    .column.game.is-flex.is-justify-content-center
      .graveyard G
      .board-container
        +playerBar('top')
        .board
          canvas(width=400, height=400)
        +playerBar('bottom')
      .graveyard G
    .column.is-one-fifth.log.p-2
      